/**
 * Top Navigation
 */

.menu {
  height: 4em;
  background-color: #677ae4;
  background-color: #05526A;
  background-color: #e46855;
}

.menu h1 {
  position: relative;
  padding: 5px 0 0 8px;
  color: #f9f9f9;
  font-size: 1.8em;
  font-style: italic;
}

.menu a,
.menu .links {
  display: inline-block;
}

.menu a {
  text-decoration: none;
  padding: 0 15px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.menu a:hover,
.menu a.active {
  opacity: 1;
}

.menu .links {
  padding: 0 21px;
}

.menu .links a {
  position: relative;
  bottom: 5px;
}

.menu h2 {
  font-weight: 700;
}
