<HelloWorld class="text-center m-0 underline block p-0 overflow-auto" />
<HelloWorld class="opacity-0" />
<HelloWorld class="opacity-100" />
<HelloWorld class="float-left" />
<HelloWorld class="float-right" />
<HelloWorld class="clear-left" />
<HelloWorld class="clear-right" />
<HelloWorld class="clear-both" />
<HelloWorld class="clear-none" />
<h2 class="font-bold">Hello world</h2>

<div class="absolute">Hello</div>
<div class="relative">Hello</div>
<div class="static">Hello</div>
<div class="fixed">Hello</div>
<div class="sticky">Hello</div>

<a href="https://google.com" class="no-underline text-gray-800 hover:text-red-700 active:text-green-500 focus:border focus:border-dotted focus:border-black">Google</a>
<LinkTo @route="about" class="pt-2.5 px-7 pb-2.5 no-underline text-white bg-blue-700 rounded    opacity-90 inline-block hover:opacity-100">About</LinkTo>
