<HelloWorld class="hello" />
<HelloWorld class="etc-opacity-0" />
<HelloWorld class="etc-opacity-1" />
<HelloWorld class="etc-float-left" />
<HelloWorld class="etc-float-right" />
<HelloWorld class="etc-clear-left" />
<HelloWorld class="etc-clear-right" />
<HelloWorld class="etc-clear-both" />
<HelloWorld class="etc-clear-none" />
<h2>Hello world</h2>

<div class="etc-absolute">Hello</div>
<div class="etc-relative">Hello</div>
<div class="etc-static">Hello</div>
<div class="etc-fixed">Hello</div>
<div class="etc-sticky">Hello</div>

<a href="https://google.com" class="link">Google</a>
