<HelloWorld class="hello" />
<HelloWorld class="etc-opacity-0" />
<HelloWorld class="etc-opacity-1" />
<HelloWorld class="etc-float-left" />
<HelloWorld class="etc-float-right" />
<HelloWorld class="etc-clear-left" />
<HelloWorld class="etc-clear-right" />
<HelloWorld class="etc-clear-both" />
<HelloWorld class="etc-clear-none" />
<h2>Hello world</h2>
