<div class="flex-row">Hello</div>
<div class="flex-row-reverse">Hello</div>
<div class="flex-col">Hello</div>
<div class="flex-col-reverse">Hello</div>

<div class="flex-wrap">Hello</div>
<div class="flex-wrap-reverse">Hello</div>
<div class="flex-nowrap">Hello</div>

<div class="flex-1">Hello</div>
<div class="flex-auto">Hello</div>
<div class="flex-initial">Hello</div>
<div class="flex-none">Hello</div>

<div class="flex-grow-0">Hello</div>
<div class="flex-grow">Hello</div>

<div class="flex-shrink-0">Hello</div>
<div class="flex-shrink">Hello</div>

<div class="order-1">Hello</div>
<div class="order-2">Hello</div>
<div class="order-3">Hello</div>
<div class="order-4">Hello</div>
<div class="order-5">Hello</div>
<div class="order-6">Hello</div>
<div class="order-7">Hello</div>
<div class="order-8">Hello</div>
<div class="order-9">Hello</div>
<div class="order-10">Hello</div>
<div class="order-11">Hello</div>
<div class="order-12">Hello</div>
<div class="order-first">Hello</div>
<div class="order-last">Hello</div>
<div class="order-none">Hello</div>

<div class="grid-cols-1">Hello</div>
<div class="grid-cols-2">Hello</div>
<div class="grid-cols-3">Hello</div>
<div class="grid-cols-4">Hello</div>
<div class="grid-cols-5">Hello</div>
<div class="grid-cols-6">Hello</div>
<div class="grid-cols-7">Hello</div>
<div class="grid-cols-8">Hello</div>
<div class="grid-cols-9">Hello</div>
<div class="grid-cols-10">Hello</div>
<div class="grid-cols-11">Hello</div>
<div class="grid-cols-12">Hello</div>
<div class="grid-cols-none">Hello</div>

<div class="grid-flow-row">Hello</div>
<div class="grid-flow-col">Hello</div>
<div class="grid-flow-row-dense">Hello</div>
<div class="grid-flow-col-dense">Hello</div>

<div class="auto-cols-auto">Hello</div>
<div class="auto-cols-min">Hello</div>
<div class="auto-cols-max">Hello</div>
<div class="auto-cols-fr">Hello</div>
