<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1 class="relative pt-20 pr-0 pb-0 pl-32   italic">SuperRentals</h1>
    <h2 class="font-bold">SuperRentals</h2>
  </LinkTo>
  <div class="px-80 py-0">
    <LinkTo @route="about" class="menu-about">
      About
    </LinkTo>
    <LinkTo @route="contact" class="menu-contact">
      Contact
    </LinkTo>
    <h2 class="font-bold">SuperRentals</h2>
  </div>
</nav>
